@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;1,700&display=swap');

body {
    font-family: 'Overpass', sans-serif;
    font-weight: 300;
    background-color: hsl(0, 0%, 95%);
    overflow: scroll;
}

.background-img-intro {
    background-image: url('file:///F:/FrontEndCodeChallege3/images/bg-pattern-intro.svg');
    background-position: top 40% left 0%;
    background-size: 200% 270%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    border-bottom-left-radius: 12%;
}

#sign-up {
    font-size: .8em;
    background-color: hsl(0, 0%, 100%);
    color:hsl(355, 100%, 74%);
    border: none;
    font-weight: 700;
}


#sign-up:hover {
    color: hsl(0, 0%, 100%);
    background-color: hsl(355, 100%, 74%);
    border: none;
}

.text-color {
    color: #fff;
}

.endnav {
    margin-left: auto;
}

.navcontentsize {
    font-size: .84em;
}

.Blogsize {
    font-size: 2.5em;
    margin-right: 1em;
    font-weight: 700;
}   

.text-main-nav {
    text-align: center;
}

.nav-bg-color {
    background-color: hsl(356, 100%, 66%);
}

.btn-primary {
    background-color: transparent;
}

.btn-primary:hover {
    background-color: hsl(355, 100%, 74%);
}

.first-button {
    background-color: hsl(0, 0%, 100%);
    color: hsl(355, 100%, 74%);
    font-weight: 700;
}



.navbar-light .navbar-nav .nav-link {
    color: hsl(0, 0%, 100%);
}


.navbar-light .navbar-brand {
    color: hsl(0, 0%, 100%);
}

.filter-hover:hover {
    background-color: hsl(0, 0%, 100%);
    color:hsl(355, 100%, 74%);
    font-weight: 700;
}

.xtens-edit {
    color: hsl(240, 10%, 16%); 
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; 
    display: block;
}

.xtens-edit1 {
    color: hsl(240, 10%, 16%);
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700; 
    display: block;
}

.txt-ctrl {
    line-height: 2em;
}

.back-color {
    background-color: hsl(237, 23%, 32%);
}

.infrastructure {
    color: hsl(0, 0%, 100%);
    display: block;
    font-size: larger;
    font-weight: 700;
}

.infrastructure + .new-font {
    color: hsl(0, 0%, 100%);
    font-family: 'Overpass', sans-serif;
    line-height: 2em;
}

.new-color-tooling {
    line-height: 2em;
    color: hsl(237, 17%, 21%);
}

.footer {
    background-color: hsl(240, 10%, 16%);
    color: hsl(0, 0%, 100%);
    border-top-right-radius: 5%;
}


.headings > a:nth-of-type(n) {
    color: hsl(240, 2%, 79%);
} 


.headings a {
    font-family: 'Ubuntu', sans-serif;
    color: hsl(0, 0%, 100%);
    line-height: 1.8em;
}


.headings a:nth-child(1) {
    color: hsl(0, 0%, 100%);
    margin-bottom: 2em;
}

.footer a {
    display: block;
}

.navbar-light .navbar-toggler {
    border-style: none;
}

.bg-circle {
    background-image: url('http://127.0.0.1:8887/bg-pattern-circles.svg');
    background-repeat: no-repeat;
    background-position: top 10% left 10%;    
}


.borders-state {
    border-top-right-radius: 5%;
    border-bottom-left-radius: 5%;
}


.navbar-light .toggle-img {
    background-image: url('http://127.0.0.1:8887/icon-close.svg');
    background-repeat: no-repeat;
}


@media(max-width:768px) {

    .navbar-nav .nav-link {
        margin-top: 1em;
        padding-right: 1.5em;
        padding-left: 1.5em; 
        margin-bottom: 1em; 
    }

    .navbar-light .navbar-nav .nav-link {
        color: var(--gray-dark);
        font-size: 1em;
        font-weight: 500;
    }

    #sign-up {
        color: #fff;
        background-color:  hsl(13, 100%, 72%);
    }

    .hr-length {
       width: 50%; /*width 50% of the parent element*/
    }

    .endnav {
        margin-top: 1em;
    }

    .md-bl-bg {
        background-color: var(--white);
        border-radius: .5em;
        box-shadow: 10px 10px 5px 2px var(--gray-dark);
        max-width: 650px;
        font-family: 'Ubuntu', sans-serif;
        transform: scaleX(.8);
        position: relative;
        top: 2rem;
        bottom: 0px;
    }

    .bg-color-dropdown {
        background-color: var(--light);
        text-align: center;
        border: none;
    }

    .dropdown-toggle::after {
        content: url('http://127.0.0.1:8887/icon-arrow-dark.svg');
        border-style: none;
    }

    .hidden {
        display: none;
    }

    .nav-toggle-icon-move-sp::after {
        position: relative;
        top: 10px;
        transform: rotate(180deg);
        transition: all .5s ease-out;
    }

    .setting-img {
        transform: translateY(-5em);
    }

    .settings-margin-top {
        margin-top: 100px;
    }
    
}